<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bsoft.mapper.PersonnelMapper">
	
	<!-- 查询人员信息 -->
	<select id="getPersonnel" parameterType="java.util.Map" resultType="Personnel">
		select b.organizname,c.officename,a.* from SYS_PERSONNEL a
		left join  sys_organization b on b.organizcode=a.organizcode
		left join sys_office c on c.id=a.officecode
		<where>
			<if test="personName!=null and personName!=''">
				a.personname like concat('%',#{personName},'%')
			</if>
			<if test="organizCode!=null and organizCode!=''">
				and a.organizcode =#{organizCode}
			</if>
		</where>
	</select>
	
	<!-- 删除人员信息 -->
	<delete id="deletePersonnel">
		delete from sys_personnel where personid=#{personId}
	</delete>
	
</mapper>